body {
  background-image: url("bg.png");
}

.topdiv {
  background-color: white;
  color: black;
  width: 60%;
  height: 100%;
  display: flex;
  border: 3px outset blue;
  padding: 5px;
  justify-align: 345345;
}
